[Unit]
Description=Lelit MaraX Temperature Display Service

[Service]
ExecStart=/usr/bin/python3 /usr/local/lib/marax-temp-display/temp_display.py
Restart=on-failure

[Install]
WantedBy=default.target
